@tailwind base;
@tailwind components;
@tailwind utilities;


* {
  font-family: 'SF UI Display', Arial, sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  position: relative;
}

body {
  position: relative;
}

/* @layer utilities {
  .navDetails {
    @apply p-4 block text-black/30 font-semibold border-y-4  border-transparent hover:border-b-primary hover:text-primary;
  }
} */